@model HMS_ITI.Models.Clinic_Register

@{
    ViewBag.Title = "ClinicRegister";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    h5 {
        font-size: 20px;
    }

    #Search {
        outline: none;
        border: 2px solid #00887a;
        padding: 10px;
        width: 30%;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 0;
    }

    #SearchBtn {
        padding: 12px 20px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        outline: none;
        border: 0;
        background-color: #00887a;
        color: #FFF;
        font-weight: bold;
    }
    .btn-danger {
        background-color: #b7453c;
        border-color: #b7453c;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SearchBtn").click(function () {
            //var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#Search").val();
            var SetData = $("#DataSearching");
            SetData.html("");
            $.ajax({
                type: "post",
                url: "/ClinicRegister/GetSearchingData?SearchValue=" + SearchValue,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('No Data')
                    }
                    else {
                        $("#FullName").val(result.FirstName + " " + result.SecondName + " " + result.ThirdName + " " + result.FourthName);
                        $("#SSN").val(result.SSN);
                        $("#BirthDate").val(ToJavaScriptDate(result.BirthDate));
                        $("#Phone").val(result.Phone);
                        //$.each(result, function (index, value) {
                        //    var Data = "<tr>" +
                        //        "<td>" + value.StuId + "</td>" +
                        //        "<td>" + value.StuName + "</td>" +
                        //        "<td>" + value.Semester + "</td>" +
                        //        "</tr>";
                        //    SetData.append(Data);

                        //});

                    }
                },
                error: function () {
                    $("#FullName").val(" ");
                    $("#SSN").val(" ");
                    $("#BirthDate").val(" ");
                    $("#Phone").val(" ");
                }

            });
        });

        $("#Register").click(function () {
            debugger;
            var SearchValue = $("#Search").val();
            var DepartmentName = $('#ChooseDepartment').find(":selected").text();
            var Department = $("#ChooseDepartment").find(":selected").val();
            //SetData.html("");
            $.ajax({
                type: "post",
                url: "/ClinicRegister/Register?SearchValue=" + SearchValue + "&ChooseDepatment=" + Department,
                contentType: "html",
                success: function (result) {
                    if (SearchValue == "") {
                        SetData.append('No Data')
                    }
                    else {
                        alert("دور هذا المريض لدخول عيادة " + DepartmentName + " = " + result.counterNumber);
                        //$("#FullName").val(result.FirstName + " " + result.SecondName + " " + result.ThirdName + " " + result.FourthName);
                        //$("#SSN").val(result.SSN);
                        //$("#BirthDate").val(result.BirthDate);
                        //$("#Phone").val(result.Phone);
                        //$.each(result, function (index, value) {
                        //    var Data = "<tr>" +
                        //        "<td>" + value.StuId + "</td>" +
                        //        "<td>" + value.StuName + "</td>" +
                        //        "<td>" + value.Semester + "</td>" +
                        //        "</tr>";
                        //    SetData.append(Data);

                        //});
                    }
                },
                error: function () {
                    alert("لا يمكن حجز عيادة لهذا المريض لنفس القسم مرتين");
                }
            });
        });


    });
    function ToJavaScriptDate(date) {
        //debugger;
        var value = new Date
                    (
                         parseInt(date.replace(/(^.*\()|([+-].*$)/g, ''))
                    );
        var month = value.getMonth() + 1;
        if (month < 10)
            month = "0" + month;
        var day = value.getDate();
        if (day < 10)
            day = "0" + day;
        var dat = day + "/" + month + "/" + value.getFullYear();
        return dat;
    }
</script>


<div class="row" style="text-align:center">
    <span class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma;font-size:18px;padding:5px 30px;">حجز عيادة</span>
</div>
<br />
<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="heading-elements">
            @*<ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>*@
        </div>
    </div>

    <div class="panel-body">
        <h5><label> ادخل رقم النظم : </label></h5>
        @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="بحث" /><br /><br />

        <div class="col-sm-6">
            <div class="form-group">
                <h5><label> اسم المريض </label></h5>
                <input type="text" name="text" id="FullName" class="form-control" readonly style="font-size:15px;" />
            </div>
            <div class="form-group">
                <h5><label> الرقم القومى </label></h5>
                <input type="text" name="text" id="SSN" class="form-control" readonly style="font-size:15px;" />
            </div>
            <div class="form-group">
                <h5><label> تاريخ الميلاد </label></h5>
                <input type="text" name="text" id="BirthDate" class="form-control" readonly style="font-size:15px;" />
            </div>
            <div class="form-group">
                <h5><label> رقم الموبيل </label></h5>
                <input type="text" name="text" id="Phone" class="form-control" readonly style="font-size:15px;" />
            </div>

        </div>
        <div class="col-sm-6">

            <div class="form-group">
                <h5><label> القسم </label></h5>
                <select multiple size="1" class="form-control" name="ChooseDepartment" id="ChooseDepartment">
                    @foreach (var item in ViewBag.DepartmentId)
                    {
                        <option style="font-size:16px;" value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">

                <input type="submit" class="btn btn-danger" id="Register" value="Register" /><br /><br />
            </div>

        </div>
    </div>
</div>
<div>

</div>

