@model HMS_ITI.Models.Clinic_Type
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row" style="text-align:center">
    <span class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma;font-size:18px;padding:5px 30px;">اضافة عيادة</span>
</div>
<br />

@using (Html.BeginForm("AddClinic_Type", "Clinic_Type", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(ww => ww.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(ww => ww.Type, new
               { @class = "form-control" ,
                placeholder = "نوع العيادة"
                })
                    <b>
                        @Html.ValidationMessageFor(ww => ww.Type, "", htmlAttributes: new { @class = "Error text-danger" })
                    </b>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right col-lg-12">
                    <input type="submit" value="اضافة" class="btn btn-info" />
                </div>
            </div>
        </div>

    </div>

}


