@model HMS_ITI.Models.Clinic_Type
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (Html.BeginForm("Edit", "Clinic_Type", FormMethod.Post, new { autocomplete = "off" }))
{
<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="heading-elements">
        </div>
    </div>


    @Html.HiddenFor(ww => ww.ID);
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(ww => ww.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(ww => ww.Type, new {  @class = "form-control", placeholder = "نوع العيادة" })
                <b>
                    @Html.ValidationMessageFor(ww => ww.Type, "", htmlAttributes: new { @class = "Error text-danger" })
                </b>
            </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="text-right col-lg-12">
                    <button type="submit" class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma">تم <i class=" icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>
        }




